.h5p-tabs {
  background-color: var(--h5p-theme-ui-base);
  width: 100%;
  overflow: hidden;

  .h5p-tabs-container {
    display: flex;
    flex-direction: column;

    &.h5p-tabs-message {
      background-color: var(--h5p-theme-feedback-neutral-third);
      border: 1px solid var(--h5p-theme-feedback-neutral-main);
      color: var(--h5p-theme-feedback-neutral-secondary);
      margin: 0;
      padding: var(--h5p-theme-spacing-xs);
      text-align: center;
    }

    .h5p-tabs-tabs-label {
      position: absolute;
      left: -999999px;
    }

    .h5p-tabs-tabs {
      display: flex;
      width: var(--tab-spread);
    }

    .h5p-tabs-content {
      flex-grow: 1;
      width: 100%;
    }
  }
}

.h5p-tabs.tab-placement-left {
  .h5p-tabs-container {
    flex-direction: row;

    .h5p-tabs-tabs {
      flex-direction: column;
      flex-shrink: 1;
      max-width: calc(20 * var(--h5p-theme-spacing-xs));
      width: auto;

      .h5p-tabs-button {
        flex-shrink: 1;
        text-align: left;
        width: 100%;

        &:not(:last-child) {
          border-right: 0;
          border-bottom: solid 1px var(--h5p-theme-alternative-dark);
        }

        &:last-child {
          border-top-right-radius: 0;
          border-bottom-left-radius: 1em;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .h5p-tabs.tab-placement-dynamic {
    .h5p-tabs-container {
      flex-direction: row;

      .h5p-tabs-tabs {
        flex-direction: column;
        flex-shrink: 1;
        max-width: 10em;

        .h5p-tabs-button {
          flex-shrink: 1;
          text-align: left;
          width: 100%;

          &:not(:last-child) {
            border-right: 0;
            border-bottom: solid 1px var(--h5p-theme-main-cta-light);
          }

          &:last-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: 1em;
          }
        }
      }
    }
  }
}
