.h5p-tabs-button {
  background-color: var(--h5p-theme-main-cta-base);
  border: none;
  color: var(--h5p-theme-text-primary);
  cursor: pointer;
  font-size: var(--h5p-theme-font-size-m);
  flex-shrink: 1;
  overflow: hidden;
  padding: var(--h5p-theme-spacing-xs);
  text-overflow: ellipsis;
  transition: background-color 0.1s ease;
  white-space: nowrap;
  width: min(100%, calc(15 * var(--h5p-theme-spacing-s)));

  &[tabIndex="-1"]:not(.active):focus-visible,
  &:not(.active):focus-visible {
    outline: 2px solid var(--h5p-theme-secondary-contrast-cta);
    outline-offset: -4px;
  }

  &[tabIndex="-1"].active:focus-visible,
  &.active:focus-visible {
    outline: 2px solid var(--h5p-theme-contrast-cta);
    outline-offset: -4px;
  }

  &.active {
    background-color: var(--h5p-theme-main-cta-base);
    color: var(--h5p-theme-contrast-cta);

    &:hover {
      background-color: var(--h5p-theme-main-cta-light);
      color: var(--h5p-theme-contrast-cta);
    }
  }

  &:first-child {
    border-top-left-radius: var(--h5p-theme-border-radius-large);
  }

  &:last-child {
    border-top-right-radius: var(--h5p-theme-border-radius-large);
  }

  &:not(:last-child) {
    border-right: solid 1px var(--h5p-theme-main-cta-light);
  }

  &:not(.active) {
    background-color: var(--h5p-theme-alternative-light);
    color: var(--h5p-theme-text-primary);
  }

  &:not(.active):hover {
    background-color: var(--h5p-theme-alternative-dark);
  }
}
